.colors {
    /*#170f34*/
    /*P01*/
    /*--sl-color-p01-50: rgb(249 249 250);*/
    /*--sl-color-p01-100: rgb(236 236 239);*/
    /*--sl-color-p01-200: rgb(222 221 227);*/
    /*--sl-color-p01-300: rgb(207 205 213);*/
    /*--sl-color-p01-400: rgb(187 185 195);*/
    /*--sl-color-p01-500: rgb(161 158 173);*/
    /*--sl-color-p01-600: rgb(134 129 149);*/
    /*--sl-color-p01-700: rgb(110 105 128);*/
    /*--sl-color-p01-800: rgb(91 86 112);*/
    /*--sl-color-p01-900: rgb(66 59 89);*/
    /*--sl-color-p01-950: rgb(41 34 68);*/
    --sl-color-p01-50: hsl(240, 9%, 98%);
    --sl-color-p01-100: hsl(240, 9%, 93%);
    --sl-color-p01-200: hsl(250, 10%, 88%);
    --sl-color-p01-300: hsl(255, 9%, 82%);
    --sl-color-p01-400: hsl(252, 8%, 75%);
    --sl-color-p01-500: hsl(252, 8%, 65%);
    --sl-color-p01-600: hsl(255, 9%, 55%);
    --sl-color-p01-700: hsl(253, 10%, 46%);
    --sl-color-p01-800: hsl(252, 13%, 39%);
    --sl-color-p01-900: hsl(254, 20%, 29%);
    --sl-color-p01-950: hsl(252, 33%, 20%);
    /*1000*/
    --sl-color-p01-1000: hsl(252, 55%, 13%);

    /*#170f34*/
    /*S01*/
    /*--sl-color-s01-50: rgb(240 251 255);*/
    /*--sl-color-s01-100: rgb(204 243 255);*/
    /*--sl-color-s01-200: rgb(162 233 255);*/
    /*--sl-color-s01-300: rgb(110 220 255);*/
    /*--sl-color-s01-400: rgb(37 201 252);*/
    /*--sl-color-s01-500: rgb(31 173 217);*/
    /*--sl-color-s01-600: rgb(26 143 179);*/
    /*--sl-color-s01-700: rgb(21 117 147);*/
    /*--sl-color-s01-800: rgb(18 97 121);*/
    /*--sl-color-s01-900: rgb(13 69 86);*/
    /*--sl-color-s01-950: rgb(8 42 53);*/
    --sl-color-s01-50: hsl(196, 100%, 97%);
    --sl-color-s01-100: hsl(194, 100%, 90%);
    --sl-color-s01-200: hsl(194, 100%, 82%);
    --sl-color-s01-300: hsl(194, 100%, 72%);
    /*400*/
    --sl-color-s01-400: hsl(194, 97%, 57%);
    --sl-color-s01-500: hsl(194, 75%, 49%);
    --sl-color-s01-600: hsl(194, 75%, 40%);
    --sl-color-s01-700: hsl(194, 75%, 33%);
    --sl-color-s01-800: hsl(194, 74%, 27%);
    --sl-color-s01-900: hsl(194, 74%, 19%);
    --sl-color-s01-950: hsl(195, 74%, 12%);

    /*#37ffb4*/
    /*S02*/
    /*--sl-color-s02-50: rgb(230 255 246);*/
    /*--sl-color-s02-100: rgb(159 255 219);*/
    /*--sl-color-s02-200: rgb(54 251 177);*/
    /*--sl-color-s02-300: rgb(50 234 165);*/
    /*--sl-color-s02-400: rgb(45 210 149);*/
    /*--sl-color-s02-500: rgb(39 181 128);*/
    /*--sl-color-s02-600: rgb(32 150 106);*/
    /*--sl-color-s02-700: rgb(26 123 87);*/
    /*--sl-color-s02-800: rgb(22 101 72);*/
    /*--sl-color-s02-900: rgb(16 72 51);*/
    /*--sl-color-s02-950: rgb(10 44 31);*/
    --sl-color-s02-50: hsl(158, 100%, 95%);
    --sl-color-s02-100: hsl(158, 100%, 81%);
    --sl-color-s02-200: hsl(157, 96%, 60%);
    --sl-color-s02-300: hsl(158, 81%, 56%);
    --sl-color-s02-400: hsl(158, 65%, 50%);
    --sl-color-s02-500: hsl(158, 65%, 43%);
    --sl-color-s02-600: hsl(158, 65%, 36%);
    --sl-color-s02-700: hsl(158, 65%, 29%);
    --sl-color-s02-800: hsl(158, 64%, 24%);
    --sl-color-s02-900: hsl(158, 64%, 17%);
    --sl-color-s02-950: hsl(157, 63%, 11%);
}
